/* navbar */
.navbar-default {
    background-color: #428bca;
    border-color: #428bca;
}

.navbar-default .navbar-brand{
    color: white;
}

.icon-white{
    color: white;
}

.nav.navbar-default{
    margin: auto;
}
#line{
    border-right: solid 1px black;
}
