.hv-navbar-blue{
    background-color: #428bca;
    border-color: #428bca;
}

.navbar-default .hv-text-white {
    color: white;
}

.navbar-default .hv-text-white {
    color: white;
}

.navbar-default .hv-text-white > a {
    color: white;
    text-decoration: none;
}

.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    background-color: transparent;
    color: white;
}

.hv-icon-white{
    color: white;
}

.hv-icon-black{
    color: black;
}

.nav.navbar-default{
    margin: auto;
}
#line{
    border-right: solid 1px black;
}
input{
    margin-bottom: 5px;
}

body{
    padding-top: 60px;
}

.hv-widget{
    position: relative;
}

.hv-floating-icons{
    position: absolute;
    background-color: white;
    z-index: +2;
    right: 10px;
    border-radius: 5px;
    padding: 3px;
}

.hv-overflow{
    padding-top: 10px;
    position: absolute;
    top: 50px;
    bottom: 50px;
    overflow-y: scroll;
}

.hv-overflow-offset{
    position: absolute;
    right: 0px;
    top: 60px;
}