/* navbar */
.blue{
    background-color: #428bca;
    border-color: #428bca;
}

.navbar-default .text-white {
    color: white;
}

.icon-white{
    color: white;
}

.nav.navbar-default{
    margin: auto;
}
#line{
    border-right: solid 1px black;
}
