<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Widget heading</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet">
    <link rel="shortcut icon" href="../../vendor/img/logo.PNG">
    <link rel="icon" href="../../vendor/img/logo.PNG">
</head>
<body>
<div class="navbar navbar-default navbar-fixed-top hv-navbar-blue">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="widget-list.html"><span class="glyphicon glyphicon-chevron-left hv-icon-white pull-left"></span></a>
        </p>
        <div class="navbar-brand hv-text-white">Edit Widget</div>
        <p class="navbar-text pull-right">
            <a href="widget-list.html"><span class="glyphicon glyphicon-ok hv-icon-white pull-right"></span></a>
        </p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <form action=""
                  method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text"
                           name="name"
                           id="name"
                           class="form-control"
                           placeholder="Name"
                           value="Blog Post">
                </div>
                <div class="form-group">
                    <label for="text">Text</label>
                    <input type="text"
                           name="text"
                           id="text"
                           class="form-control"
                           placeholder="Text"
                           value="US Senate">
                </div>
                <div class="form-group">
                    <label for="text">Size</label>
                    <input type="text"
                           name="size"
                           id="size"
                           class="form-control"
                           placeholder="Size"
                           value="3">
                </div>
                <div class="form-group">
                    <a href="widget-list.html"
                       class="btn btn-danger btn-block"
                       role="button">Delete</a>
                </div>
            </form>
        </div>
    </div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom hv-navbar-blue">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="../../user/templates/profile.view.client.html"><span class="glyphicon hv-icon-white glyphicon-user"></span></a>
        </p>
    </div>
</div>
</body>
</html>