<div ng-switch="model.widget.type">
    <div ng-switch-when="HEADING">
        <ng-include src="'views/widget/templates/edit/widget-heading-edit.view.client.html'">
    </div>
    <div ng-switch-when="IMAGE">
        <ng-include src="'views/widget/templates/edit/widget-image-edit.view.client.html'">
    </div>
    <div ng-switch-when="YOUTUBE">
        <ng-include src="'views/widget/templates/edit/widget-youtube-edit.view.client.html'">
    </div>
    <div ng-switch-when="HTML">
        <ng-include src="'views/widget/templates/edit/widget-html-edit.view.client.html'">
    </div>
    <div ng-switch-when="TEXT">
        <ng-include src="'views/widget/templates/edit/widget-text-edit.view.client.html'">
    </div>
</div>
