<div class="navbar navbar-default navbar-fixed-top hv-navbar-blue">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/"><span class="glyphicon glyphicon-chevron-left hv-icon-white pull-left"></span></a>
        </p>
        <div class="navbar-brand hv-text-white">Widgets</div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-6 col-md-offset-3 col-sm-12">
            <ul class="list-group">
                <li class="list-group-item">
                    <a ng-click="model.createWidget('HEADING')" role="button">Header</a>
                </li>
                <li class="list-group-item">
                    <a href="">Label</a>
                </li>
                <li class="list-group-item">
                    <a ng-click="model.createWidget('HTML')" role="button">HTML</a>
                </li>
                <li class="list-group-item">
                    <a ng-click="model.createWidget('TEXT')" role="button">Text Input</a>
                </li>
                <li class="list-group-item">
                    <a href="">Link</a>
                </li>
                <li class="list-group-item">
                    <a href="">Button</a>
                </li>
                <li class="list-group-item">
                    <a ng-click="model.createWidget('IMAGE')" role="button">Image</a>
                </li>
                <li class="list-group-item">
                    <a ng-click="model.createWidget('YOUTUBE')" role="button">YouTube</a>
                </li>
                <li class="list-group-item">
                    <a href="">Data Table</a>
                </li>
                <li class="list-group-item">
                    <a href="">Repeater</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom hv-navbar-blue">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.uid}}"><span class="glyphicon glyphicon-user hv-icon-white"></span></a>
        </p>
    </div>
</div>