<div class="navbar navbar-default navbar-fixed-top hv-navbar-blue">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page"><span class="glyphicon glyphicon-chevron-left hv-icon-white pull-left"></span></a>
        </p>
        <div class="navbar-brand hv-text-white">Widgets</div>
        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new"><span class="glyphicon glyphicon-plus hv-icon-white pull-right"></span></a>
        </p>
    </div>
</div>
<div class="container-fluid hv-container-overflow">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
        <ul id="sortable" class="hv-widget-list" widget-list>
            <li ng-repeat="widget in model.widgets" ng-switch="widget.widgetType">
                <div ng-switch-when="HEADING">
                    <ng-include src="'views/widget/templates/widgetView/widget-heading.view.client.html'">
                </div>
                <div ng-switch-when="IMAGE">
                    <ng-include src="'views/widget/templates/widgetView/widget-image.view.client.html'">
                </div>
                <div ng-switch-when="YOUTUBE">
                    <ng-include src="'views/widget/templates/widgetView/widget-youtube.view.client.html'">
                </div>
                <div ng-switch-when="HTML">
                    <ng-include src="'views/widget/templates/widgetView/widget-html.view.client.html'">
                </div>
                <div ng-switch-when="TEXT">
                    <ng-include src="'views/widget/templates/widgetView/widget-text.view.client.html'">
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom hv-navbar-blue">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#"><span class="glyphicon glyphicon-play hv-icon-white"></span></a>&nbsp&nbsp
            <a href="#"><span class="glyphicon glyphicon-eye-open hv-icon-white"></span></a>
        </p>
        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.uid}}"><span class="glyphicon glyphicon-user hv-icon-white"></span></a>
        </p>
    </div>
</div>