


<div class="navbar navbar-default navbar-fixed-top hv-navbar-blue">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page"><span class="glyphicon glyphicon-chevron-left hv-icon-white pull-left"></span></a>
        </p>
        <div class="navbar-brand hv-text-white">Widgets</div>
        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget/new"><span class="glyphicon glyphicon-plus hv-icon-white pull-right"></span></a>
        </p>
    </div>
</div>
<div class="container-fluid hv-container-overflow">
    <div class="col-md-6 col-md-offset-3 col-sm-12">
        <div ng-repeat="widget in model.widgets">
            <ul id="sortable" class="hv-widget-list" ng-switch="widget.widgetType">
                <li ng-switch-when="HEADING">
                    <ng-include src="'views/widget/templates/widget-heading.view.client.html'">
                </li>
                <li ng-switch-when="IMAGE">
                    <ng-include src="'views/widget/templates/widget-image.view.client.html'">
                </li>
                <li ng-switch-when="YOUTUBE">
                    <ng-include src="'views/widget/templates/widget-youtube.view.client.html'">
                </li>
                <li ng-switch-when="HTML" ng-bind-html="model.trustHtmlContent(widget.text)">
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom hv-navbar-blue">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#"><span class="glyphicon glyphicon-play hv-icon-white"></span></a>&nbsp&nbsp
            <a href="#"><span class="glyphicon glyphicon-eye-open hv-icon-white"></span></a>
        </p>
        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.uid}}"><span class="glyphicon glyphicon-user hv-icon-white"></span></a>
        </p>
    </div>
</div>