<div class="navbar navbar-default navbar-fixed-top hv-navbar-blue">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#!/user/{{model.uid}}"><span class="glyphicon glyphicon-chevron-left pull-left hv-icon-white"></span></a>
        </p>
        <div class="navbar-brand hv-text-white">Website list</div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div ng-show="model.successMessage" class="alert alert-success">{{model.successMessage}}</div>
            <div ng-include="'views/website/templates/website-list.component.client.html'"></div>
        </div>
    </div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom hv-navbar-blue">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.uid}}"><span class="glyphicon glyphicon-user hv-icon-white"></span></a>
        </p>
    </div>
</div>