<div class="navbar navbar-default hv-navbar-blue navbar-fixed-top">
    <div class="col-md-4 hidden-sm hidden-xs">
        <p class="navbar-text pull-left">
            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/"><span class="glyphicon glyphicon-chevron-left pull-left hv-icon-white"></span></a>
        </p>
        <div class="navbar-brand hv-text-white">Pages</div>
    </div>
    <div class="col-md-8 col-xs-12">
        <p class="navbar-text pull-left hidden-md hidden-lg">
            <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/"><span class="glyphicon glyphicon-chevron-left pull-left hv-icon-white"></span></a>
        </p>
        <div class="navbar-brand hv-text-white">New Page</div>
        <p class="navbar-text pull-right">
            <a ng-click="model.createPage(model.page)" role="button"><span class="glyphicon glyphicon-ok pull-right hv-icon-white"></span></a>
        </p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div id="hide" class="col-md-4 hidden-sm hidden-xs hv-overflow">
            <ul class="list-group">
                <li class="list-group-item active">Page Name
                </li>
                <li class="list-group-item" ng-repeat="page in model.pages">
                    <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}/widget">{{page.name}}</a>
                    <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item" ng-show="!model.pages.length">You have no pages</li>
            </ul>
        </div>
        <div id="show" class="col-md-8 col-xs-12 hv-overflow-offset">
            <form action=""
                  method="post">
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text"
                           name="name"
                           id="name"
                           ng-model="model.page.name"
                           class="form-control"
                           placeholder="Page Name">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text"
                           name="description"
                           id="description"
                           ng-model="model.page.description"
                           class="form-control"
                           placeholder="Page Title">
                </div>
            </form>
        </div>
    </div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom hv-navbar-blue">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/{{model.uid}}"><span class="glyphicon glyphicon-user hv-icon-white"></span></a>
        </p>
    </div>
</div>