<div class="navbar navbar-default navbar-fixed-top hv-navbar-blue">
    <div class="container-fluid">
        <p class="navbar-text pull-left">
            <a href="#!/user/{{model.uid}}/website/"><span class="glyphicon glyphicon-chevron-left hv-icon-white pull-left"></span></a>
        </p>
        <div class="navbar-brand hv-text-white">Page list</div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-xs-12 col-md-8 col-md-offset-2">
            <div ng-show="model.successMessage" class="alert alert-success">{{model.successMessage}}</div>
            <ul class="list-group">
                <li class="list-group-item active">Page Name
                    <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/new"><span class="glyphicon glyphicon-plus hv-icon-white pull-right"></span></a></li>
                <li class="list-group-item" ng-repeat="page in model.pages">
                    <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}/widget">{{page.name}}</a>
                    <a href="#!/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}"><span class="glyphicon glyphicon-cog pull-right"></span></a>
                </li>
                <li class="list-group-item" ng-show="!model.pages.length">You have no pages</li>
            </ul>
        </div>
    </div>
</div>
<div class="navbar navbar-default navbar-fixed-bottom hv-navbar-blue">
    <div class="container-fluid">
        <p class="navbar-text pull-right">
            <a href="#!/user/{{model.uid}}"><span class="glyphicon glyphicon-user hv-icon-white"></span></a>
        </p>
    </div>
</div>